includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    symfony:
        console_application_loader: ./phpstan-console-application.php
    excludePaths:
        # The class "AuditController" is deprecated and extends a class that is only supported in "symfony/http-foundation" < 5.
        # NEXT_MAJOR: Remove these files
        - src/Controller/AuditController.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
