parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        # The class "AuditController" is deprecated and extends a class that is only supported in "symfony/http-foundation" < 5.
        # NEXT_MAJOR: Remove these files
        - src/Controller/AuditController.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
    ignoreErrors:
        - '#^Method SimpleThings\\EntityAudit\\Tests\\[a-zA-Z0-9_\\]+Test::(data|provide)[a-zA-Z0-9_]+\(\) return type has no value type specified in iterable type [a-zA-Z0-9_]+\.$#'
