parameters:
    excludePaths:
        # The class "AuditController" is deprecated and extends a class that is only supported in "symfony/http-foundation" < 5.
        # NEXT_MAJOR: Remove these files
        - src/Controller/AuditController.php
